@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar barra de scroll pero mantener funcionalidad */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}